@font-face {
  font-family: 'NicoMoji-Regular';
  src: url(./NicoMoji-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'NicoMoji-Regular';
  src: url(./NicoMoji-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(./Roboto-Regular.woff2) format('woff2');
}

