*{
    margin:0;
    padding:0;

}


/*-----BODY BACKGROUND ANIMATION------*/


@keyframes northern {
    0% {
        transform: translate(10%, -2%);
    }

    25% {
        transform: translate(20%, 7%);
    }

    40% {
        transform: rotate(-20deg);
    }

    60% {
        transform: translate(7%, -2%);
    }

    85% {
        transform: translate(6%, 3%) rotate(15deg);
    }

    100% {
        transform: none;
    }
}


.auroral-northern {
    position: fixed;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    animation-name: northern;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    background: linear-gradient(15deg, #C8FE06 5%, #E26EF5 5%, #3eb1a7 50%, #010513 70%);
    z-index: -1;
}



canvas {
    position: sticky;
    display: block;
    filter: blur(3px) drop-shadow(0 0 30px rgb(18, 65, 61)); 
    transform-origin: 0 100%; 
    transform: skewX(-20deg);
    animation: fadein 6s 1;

}



 
  
  @keyframes hueRotate {
    to {
      filter: hue-rotate(360deg);
    }
  }
  
  @keyframes linearWave {
    0% {
      top: 0vh;
    }
    25% {
      top: 50vh;
    }
    50% {
      top: 100vh;
    }
    75% {
      top: 50vh;
    }
    100% {
      top: 0vh;
    }
  }
  
html, body {
    margin: 0;
    padding: 0;
    background-color: #01051377;
    overflow-x: hidden;
    max-width: 100%;
    
}

/*---Hero Section---*/


.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 90%;
  margin: auto;
  margin-bottom:0; /* Center the hero section horizontally */
  height: 100dvh;
}

.hero-title {
  color: #CDE82B;
  -webkit-text-stroke: rgba(0, 0, 0, 0.331) 0.1rem;
  text-shadow: none; /* Remove any existing text shadow */
  font-family: 'Titan One';
  letter-spacing: 1px;
  font-size: 5rem;
  text-align: center; /* Center the title text */
  margin-bottom: 20px; /* Add spacing below the title */
  z-index: 1000;
}

.hero-title-large {
font-size: 138px;
}

.hero-text {
color: var(--Color-palette-neutral-white, #FFF);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.70);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 150%;
word-wrap: break-word;
margin: 0 auto; /* Center the text horizontally */
max-width: 75%; /* Set maximum width to 75% */
z-index: 1000;
}

.name {
font-size:1.6rem; 
color:#FE9BFB;
}

.selected-cases {
color: #D3E75B; /* Text color */
font-family: 'Nico Moji', sans-serif; /* Choose appropriate font */
font-size: 20px; /* Adjust font size */
position: absolute; /* Position it absolutely */
bottom: 20px; /* Adjust distance from the bottom */
left: 50%; /* Center horizontally */
transform: translateX(-50%); /* Center horizontally */
cursor: pointer; /* Show pointer cursor on hover */
}

.arrow-down {
display: block;
margin: 0 auto;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 20px solid #D3E75B; /* Color of the arrow */
animation: arrow-bounce 1s infinite alternate; /* Animation */
}

@keyframes arrow-bounce {
0% { transform: translateY(0); }
100% { transform: translateY(10px); }
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    background-color: var(--Color-palette-primary-accent, #D3E75B);
    z-index: 997;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust spacing between projects and dots */
    position: relative;
    width: 100%; /* Ensure full width */
}

.prev,
.next {
    flex-basis: 15%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: auto;
    padding: 20px; /* Adjust padding as needed */
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1000;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

.firstSlide {
  display: block;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #eeffb2cc;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
  margin-bottom: 200px;
}

.active, .dot:hover {
  background-color: #9f5da5;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.luxebite {
    padding: 99px 34px;
    display: flex; /* Change from display: flex to display: block */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto; /* Center the projects section horizontally */
    margin-top: 100px;;
    background-color: var(--Color-palette-primary-accent, #D3E75B);
    z-index: 998;
    gap: 80px;
    flex-shrink: 1;
    max-width: 90%;
    height: auto;
    justify-content: center;
    position:relative;
}


.text-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}


h2 {
    color: var(--Color-palette-neutral-black, #000);

/* H1-black-desktop */
font-family: "Titan One";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 62.4px */
width: 100%;
text-align: left;
}

h3 {
color: #FFF;
font-family: Roboto;
font-size: 29px;
font-style: italic;
font-weight: 600;
line-height: normal;
}

.body-large-white {
color: var(--Text-White, #FEFEFE);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}

.works-text {

color: var(--Color-palette-neutral-black, #000);

/* body-desktop-S */
font-family: "Roboto Condensed";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
text-align: left;
padding-bottom: 20px;
}

.button-text-secondary {
    color: var(--Color-palette-neutral-black, #000);

/* label-desktop-XL */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
}

.button-text-primary {
  color: var(--Color-palette-neutral-black, #000);

/* label-desktop-XL */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
}

.secondary-button {
display: flex;
padding: 14px 23px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 20px;
border: 3px solid var(--Color-palette-primary-accent, #D3E75B);
background: #FAFFE6;
text-decoration: none;
max-width: 132px;
max-height: 54px


}


.secondary-button:hover {
  background-color: var(--Color-palette-primary-accent, #D3E75B);
  cursor:pointer;
}
.button-text-secondary:hover {
  background-color: #0b0c05 3px;
  cursor:pointer;

}

.primary-button {
  display: flex;
  padding: 14px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 3px solid var(--Color-palette-primary-accent, #D3E75B);
  background: #C8FE06;
  text-decoration: none;
  max-width: 132px;
  max-height: 54px
  
  
  }

  .primary-button:hover {
    background-color: #879e34;
    cursor:pointer;
  }
  .button-text-primary:hover {
    background-color: #0b0c05 3px;
    cursor:pointer;
  
  }



.tags-container {
  display: flex;
  gap: 13px;
  max-width: 100%;
}

.tags {
display: flex;
flex-direction: row;
align-items: center;
height: 25px;
padding: 7px 6px;
justify-content: space-between;
gap: 13px;
border: 1px solid var(--Color-palette-secondary-accent, #B066E3);
background: rgba(255, 255, 255, 0.00);
color: var(--Color-palette-neutral-black, #000);
max-width: 140px;
max-height: 25px;

}

.tag-text{
    /* body-desktop-S */
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    justify-content: center;
    }


  /*----ABOUT SECTION-----*/

  .about-container {
    display: flex;
    justify-content: space-between; /* Align children with space between */
    align-items: center; /* Vertically align items */
    margin-right: 0;
    padding-left: 39px; /* Add left padding */
  }
  
  .about-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
    gap: var(--Header, 40px);
  }
  
  .about-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align list items to the left */
    gap: 14px;
    max-width: 680px;
    text-align: left; /* Align text within list to the left */
  }
  
  .about-list li {
    text-align: left; 
    margin-bottom:10px;
  }
  
  .about-container img {
    margin-left: auto; /* Align image to the right */
    max-height: 70vh;
    width: auto;
  }
